{% extends 'base.html' %}

{% block title %} tutiorial {% endblock title %}
{% block contentactive %} active {% endblock contentactive %}


{% block body %}
 <div class="container-fluid mainContainer">

    <!-- Three columns of text below the carousel -->
    <div class="row my-4 mx-4">
      <div class="col-md-6 col-lg-4 text-center">
       <img class="rounded-circle" src="/static/img/python2.png" width="140" height="140">
        <h2>Python Tutorial</h2>
        <p>Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. .</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-md-6 col-lg-4 text-center">
        <img class="rounded-circle" src="/static/img/oops.png" width="140" height="140">
        <h2>Object Oriented Programming Using Python Programming</h2>
        <p> Like other general purpose languages, python is also an object-oriented language since its beginning.
            Python is an object-oriented programming language.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-md-6 col-lg-4 text-center">
        <img class="rounded-circle" src="/static/img/php.png" width="140" height="140">
        <h2>PHP Tutorial</h2>
        <p>The PHP Hypertext Preprocessor (PHP) is a programming language that allows web developers to create dynamic content that interacts with databases.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

        <div class="col-md-6 col-lg-4 text-center">
        <img class="rounded-circle" src="/static/img/django.png" width="140" height="140">
        <h2>Python Django Tutorials </h2>
        <p>Django is a web development framework that assists in building and maintaining quality web applications.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

        <div class="col-md-6 col-lg-4 text-center">
        <img class="rounded-circle" src="/static/img/flas.png" width="140" height="140">
        <h2>Python Flask Tutorials </h2>
        <p>Flask is a web application framework written in Python. Armin Ronacher, who leads an international group of Python enthusiasts named Pocco,</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

        <div class="col-md-6 col-lg-4 text-center">
        <img class="rounded-circle" src="/static/img/c.png" width="140" height="140">
        <h2>C Language Tutorials</h2>
        <p>C is a powerful general-purpose programming language. It can be used to develop software like operating systems,
            databases, compilers, and so on. C programming is an excellent language to learn to program for beginners.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

        <div class="col-md-6 col-lg-4 text-center">
        <img class="rounded-circle" src="/static/img/js.jpg" width="140" height="140">
        <h2>JavaScript Tutorials</h2>
        <p>JavaScript is a programming language that adds interactivity to your website (for example games,
            responses when buttons are pressed or data is entered in forms, dynamic styling, and  animation).</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

       <div class="col-md-6 col-lg-4 text-center">
        <img class="rounded-circle" src="/static/img/css5.png" width="140" height="140">
        <h2>CSS Tutorial</h2>
        <p> CSS (Cascading Style Sheets) is used to style and lay out web pages — for example,
            to alter the font, color, size, and spacing of your content,.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

        <div class="col-md-6 col-lg-4 text-center">
        <img class="rounded-circle" src="/static/img/b.jpeg" width="140" height="140">
        <h2>Bootstrap Tutorial</h2>
        <p>Bootstrap is the most popular and powerful front-end (HTML, CSS, and JavaScript)
            framework for faster and easier responsive web development.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
 </div>

{% endblock body %}